<!DOCTYPE>
<html>
    <head>
        <title>Wage prediction for Moscow frontend-devs</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <h2>Select technologies you familiar with</h2>
        <form>
            <div class="technology">
                <span class="technology__name"></span>
                <label class="switch-toggle">
                    <input class="switch-toggle__input" type="checkbox">
                    <div class="switch-toggle__control"></div>
                </label>
            </div>
        </form>
        <div id="predicted-salary" class="result">
        </div>
        <button onclick="predictSalary()">Predict</button>
    </body>
    <script data-main="scripts/main" src="scripts/lib/require.js"></script>

</html>